{% include "sitio/cabecera.html" %}

<div class="bodyCAPhtml">
    <div class="banner">
        <div class="texto">
            <h2>CARNES AVES PESCADO ({{lon}} productos)</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                FILTROOOSSSS {{_nombre}}
            </div>
            {% for cap in capss %}
            <div class=" col-6 col-md-2">
                <div class="card">
                    <div class="card-border">
                        <style>
                            .imgbackcode{{cap.codigo}} {
                                background-image:url("{{cap.imagen}}");
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        </style>
                        <div class="imgbackcode{{cap.codigo}} card-img-top">

                        </div>
                        <div class="card-body">

                            <form action="/CAP/add" method="post" enctype="multipart/form-data">
                                <div class="body-form-arriba">
                                    <div class="mb-1">
                                        <!-- id -->
                                        <input type="hidden" value="{{ cap.id }}" class="form-control" name="txtID" id="txtID">
                                    </div>
                                    <div class="mb-2">
                                      <!-- nombre -->
                                      <input type="hidden" value="{{ cap.nombre }}"name="txtNombre" id="txtNombre">
                                        <h4 class="card-title"><strong>{{ cap.nombre }}</strong></h4>
                                    </div>
                                    <div class="mb-2">
                                        <!-- fabricante -->
                                        <input type="hidden" value="{{ cap.fabricante }}"name="txtFabricante" id="txtFabricante">
                                          <h4 class="card-title"><strong>{{ cap.fabricante }}</strong></h4>
                                      </div>
                                    <div class="mb-2">
                                        <!-- codigo -->
                                        <input type="hidden" value="{{ cap.codigo }}"name="txtCodigo" id="txtCodigo">
                                    </div>
                                    <!-- cantidad -->
                                    <input type="hidden" name="cantidad" value="1" size="2"/>
                                    <div class="mb-2">
                                        <!-- precio -->
                                      <input type="hidden" value="{{cap.precio}}"name="txtPrecio" id="txtPrecio">
                                        <h4 class="card-title">S/.{{cap.precio}} x kg</h4>
                                    </div>
                                </div>
                                <div class="caja-button">
                                    <button type="submit" class="btn">Agregar al carrito</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
            {% endfor %}
        </div>
    </div>
</div>




{% include "sitio/pie.html" %}