{% include "admin/adminCabecera.html" %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    abarrotes 
                </div>
                <div class="card-body">
                    <form action="/admin/abarrotes/guardar" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                          <label for="txtNombre" class="form-label">Nombre del producto</label>
                          <input type="text"
                            class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Ingrese el nombre del producto">
                        </div>
                        <div class="mb-3">
                            <label for="txtFabricante" class="form-label">FABRICANTE</label>
                            <input type="text"
                              class="form-control" name="txtFabricante" id="txtFabricante" aria-describedby="helpId" placeholder="FABRICANTE">
                          </div>
                        <div class="mb-3">
                            <label for="txtCodigo" class="form-label">Codigo del producto</label>
                            <input type="text"
                              class="form-control" name="txtCodigo" id="txtCodigo" aria-describedby="helpId" placeholder="Ingrese el codigo">
                          </div>
                        <div class="mb-3">
                          <label for="txtImagen" class="form-label">URL Imagen</label>
                          <input type="text"
                            class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione la imagen">
                        </div>
                        <div class="mb-3">
                          <label for="txtPrecio" class="form-label">Precio</label>
                          <input type="text"
                            class="form-control" name="txtPrecio" id="txtPrecio" aria-describedby="helpId" placeholder="Ingrese el precio">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="table-responsive">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">FABRICANTE</th>
                            <th scope="col">CODIGO</th>
                            <th scope="col">IMAGEN</th>
                            <th scope="col">PRECIO</th>
                            <th scope="col">ACCIONES</th>              
                        </tr>
                    </thead>
                    <tbody>
                        {% for cap in caps %}
                        <tr class="">
                            <td scope="row">{{ cap[0] }}</td>
                            <td>{{ cap[1] }}</td>
                            <td>{{ cap[2] }}</td>
                            <td>{{ cap[3] }}</td>
                            <td>
                                <img src="{{ cap[4] }}" class="img-fluid rounded-top" alt="">  
                            </td>
                            <td>{{ cap[5] }}</td>
                            <td>
                                <form action="/admin/abarrotes/borrar" method="post">
                                    <input value="{{ cap[0] }}" type="hidden" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-danger">ELIMINAR</button>
                                </form>
                                <button type="button" class="btn btn-primary" id="btn-edit{{cap[0]}}"  data-bs-toggle="modal" data-bs-target="#a{{cap[0]}}">
                                    EDITAR
                                  </button>
                                   <!-- Modal -->

                                      <div class="modal fade" id="a{{cap[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">EDITAR DATOS</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <form action="/admin/abarrotes/editar" method="post"> 
                                            <div class="mb-3">
                                                <input type="hidden"
                                                  class="form-control" name="txtID" id="txtID" aria-describedby="helpId" placeholder="ID" value="{{cap[0]}}">
                                              </div>
                                            <div class="mb-3">
                                                <label for="txtNombre" class="form-label">Nombre del producto</label>
                                                <input type="text"
                                                  class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Ingrese el nombre del producto" value="{{cap[1]}}">
                                              </div>
                                              <div class="mb-3">
                                                  <label for="txtFabricante" class="form-label">FABRICANTE</label>
                                                  <input type="text"
                                                    class="form-control" name="txtFabricante" id="txtFabricante" aria-describedby="helpId" placeholder="FABRICANTE" value="{{cap[2]}}">
                                                </div>
                                              <div class="mb-3">
                                                  <label for="txtCodigo" class="form-label">Codigo del producto</label>
                                                  <input type="text"
                                                    class="form-control" name="txtCodigo" id="txtCodigo" aria-describedby="helpId" placeholder="Ingrese el codigo" value="{{cap[3]}}">
                                                </div>
                                              <div class="mb-3">
                                                <label for="txtImagen" class="form-label">URL Imagen</label>
                                                <input type="text"
                                                  class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione la imagen" value="{{cap[4]}}">
                                              </div>
                                              <div class="mb-3">
                                                <label for="txtPrecio" class="form-label">Precio</label>
                                                <input type="text"
                                                  class="form-control" name="txtPrecio" id="txtPrecio" aria-describedby="helpId" placeholder="Ingrese el precio" value="{{cap[5]}}">
                                              </div>
                                            </div>
                                            <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary" >Guardar los cambios</button>
                                        </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>
<br>




{% include "admin/adminPie.html" %}