<!doctype html>
<html lang="es">

<head>
  <title>LOGIN ADMINISTRADOR</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--icono-->
  <link rel="icon" href="{{url_for('static', filename='ico.ico')}}">
  <!-- Bootstrap-->
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css')}}"  crossorigin="anonymous">
  <!--GOOGLE FONTS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC&family=Poppins&family=Quicksand:wght@300;400;500;600;700&family=Qwitcher+Grypen:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="loginAdministrador">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>


            <div class="col-md-4">
                <br>
                <br>
                <div class="card">
                    <div class="card-header">
                        INICIO DE SESION
                    </div>
                    <div class="card-body">
                        <form action="/admin/login" method="post">
                            <div class="mb-3">
                              <label for="txtUsuario" class="form-label">USUARIO</label>
                              <input type="text"
                                class="form-control" name="txtUsuario" id="txtUsuario" aria-describedby="helpId" placeholder="Ingrese su usuario">
                            </div>
                            <div class="mb-3">
                                <label for="txtPassword" class="form-label">
                                    CONTRASEÑA
                                </label>
                                <input type="text" class="form-control" name="txtPassword" id="txtPassword" aria-describedby="helpId" placeholder="Ingrese su contraseña">
                              </div>
                              <button type="submit" class="btn btn-success">
                                enviar
                              </button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>


            <div class="col-md-4">
            </div>
        </div>
    </div>














    



<script src="{{ url_for('static', filename='main.js')}}" ></script>

<!-- Bootstrap JavaScript Libraries -->
<script src="{{ url_for('static', filename='popper.min.js')}}">
</script>
<script src="{{ url_for('static', filename='bootstrap.min.js')}}">
</script>


</body>

</html>