.BODYCARRITOHTML{
    overflow: hidden;
    .body-carrito-compras{
        *{
            font-family: Quicksand;
        }
        table{
            width: 99%;
            margin: auto;
            tr{
                border-bottom: 1px solid black;
            }
            th{
                padding: 5px 15px;
                background-color: black;
                color: white;
                border-bottom: 1px solid rgba(0, 0, 0, 0.294) ;
                font-size: 0.8rem;
                font-weight: 500;
            }
            td{
                font-size: 0.7rem;
            }
            overflow: hidden;
        
            @media (max-width:400px) {
                th{
                    font-size: 0.52rem;
                }
                td{
                    font-size: 0.5rem;
                }
            }
    
        }
    }
    .total-carrito{
        border: 1px solid rgba(0, 0, 0, 0.123);
        font-family: 'DM Sans', sans-serif;
        padding: 30px 18px;
        p{
            margin-bottom: 10px;
            width: 100%;
            font-size: 0.8rem;
        }
        button{
            width: 100%;
            margin: auto;
            font-size: 0.8rem;
            padding: 5px 15px;
            border: 0;
            border-radius: 15px;
            background-color: red;
            color: white;
        }
    }
}
