.footer{
    .caja-pie{
        background-color: rgb(0, 0, 0);
        justify-content: center;
        align-items: center;
        h6{
            margin-bottom:0 ;
            padding: 15px;
            font-family: montserrat;
            color:white;
            text-align: center;
        }
    }
}